__pycache__/
*.py[cod]

.venv/
.idea/
.vscode/
.DS_Store

outputs/
results/

*.png
*.pdf
*.svg

*.mp4
!movies/*.mp4

# Ignore generated arrays except curated datasets
*.npy
*.npz
*.csv

!data/**/*.npz
!data/**/*.csv
